#credit-card-area {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #ffffff;  
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.title-credit-cart-area {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  padding: 20px;
}

.body-credit-card-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  overflow: auto;
  align-items: center;
  white-space: nowrap;
  padding: 20px;
}

.body-credit-card-area > div {
  display: inline-block;
  margin-right: 20px;
}

